iframe {
  height: 400px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 12px;
}

.odin-wrap a,
.odin-content {
  display: block;
  text-decoration: none;
  color: #222222;
  width: 100%;
}

.odin-content {
  text-align: center;
}


.odin-content h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.odin-content img {
  width: 50%;
  text-align: center;
}

.odin-content p {
  font-size: 200%;
  color: #666666;
}

.odin-content ul {
  list-style-type: none;
  list-style-image: url('/images/odin-logo.svg');
  margin: 0px 10%;
  padding-inline-start: 0;
  font-size: 115%;
  text-align: left;
  width: 80%;
}

p.odin-tagline {
  font-weight: bold;
}

p.odin-url {
  color: #065d91;
}